.footer {
  background-color: #fcf5e5;
}

.footer__content {
  margin: 60px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  opacity: 70%;
  font-weight: 400;
  line-height: 100%;
  font-size: 16px;
}
